.Toolbar {
    height: 56px;
    width: 100%;
    /* position:absolute; */
    bottom: 0;
    background-color: #703B09;
    
    padding: 20px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    /* font-family: cursive; */
}

.Name{
    font-family: cursive;
}



