
.Button{

background-color: transparent;
outline: none;
cursor: pointer;
border: white;
/* color: #966909; */
font-family: inherit;
font-size: 1.2em;
padding: 15px 20px;
}

.Button:first-of-type {
    margin: 10px 20px;
    /* padding-left: 0; */
}
@media screen and (max-width:639px){
    .Button{

        font-family: inherit;
            margin: 2px 1px;

        font-size: 1em;
        padding: 10px 10px;
        box-shadow: 0px 0px 0px #966909;
        }
     .Button:first-of-type {
        margin: 0;
        /* padding-left: 0;  */
    } 

}
.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}